/* ------------------global-------------------- */
.contenedor {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.contenedor h3, /* escepciones a los titulos  */
.contenedor h5 {
  text-align: left;
}

body::-webkit-scrollbar {
  width: 9px;
  background-color: rgb(24, 23, 23);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(85, 83, 83);
  border-radius: 50px;
}
body {
  font-family: "Noto Serif", serif;
}
.contenedor_Donacion2::-webkit-scrollbar {
  width: 9px;
  background-color: rgb(24, 23, 23);
}
.contenedor_Donacion2::-webkit-scrollbar-thumb {
  background-color: rgb(85, 83, 83);
  border-radius: 50px;
}

/* -----------------en el header-------------- */

.pegado {
  /* se activa cuando scrolleo para abajo*/
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
}

.scroll-abajo {
  /* se crea cuando scroleo para abajo*/
  background-color: rgba(0, 0, 0, 0.485);
  width: 100%;
  border-bottom-width: solid;
  border-bottom-color: bisque;
}

.logo__size {
  height: 63px;
  margin-left: 20px;
}

.navegacion__enlace {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--blanco);
}

.topbar a {
  color: white;
  padding: 20px;
  text-decoration: none;
  /* el subrayado de los a */
  float: left;
  /*
  menu horizontal */
}
/*--Necesario para el efecto de movimiento translateX--- */
.topbar > a > span:after,
.topbar > a > span:before {
  opacity: 0;
  transition: all 0.3s ease-out; /*arranca la barra y termina en 0.3s (posicion y movimiento)  */
  position: absolute;
}
/*--Dice en donde aparecen las barras---*/
.topbar > a > span:after {
  content: "|";
  transform: translateX(-1ex);
}

.topbar > a > span:before {
  content: "|";
  transform: translateX(0);
}
/* --Para que aparescan las barras laterales--*/
.topbar > a:hover > span:after {
  content: "|";
  opacity: 1; /* no es translucido*/
  transform: translateX(2ex);
  position: absolute;
}

.topbar > a:hover > span:before {
  /*  */
  content: "|";
  opacity: 1;
  transform: translateX(-3ex);
  position: absolute;
}

/* ----------------en el main--------------- */

.tres-columnas {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}
@media (max-width: 800px) {
  .tres-columnas {
    display: grid;
    grid-template-columns: auto;
  }
}

.separador {
  /*rectangulo gris en el main como separador*/

  background-color: gray;
  padding: 15vh;
}


/*FOOTER*/

.copyright {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  font-size: smaller;
}