/*MEMBRESIA.HTML TABLA DE PRECIOS*/


.scroll-container{
  background-color: bisque;
}

.contenedor_tabla{
  width: 70%;
  max-width: 900px;
  margin: auto;
  padding: 50px 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.tabla_precio{
  width: 400px;
  height: 550px;
  margin: auto;
  border: 1px solid #343759;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px #343759;
  padding: 60px;
  text-align: center;
  color: #343759;
  
}

.tabla_precio h2 {
  display: block;
  font-size: 40px;
  margin:0 0 35px 0;
}

.tabla_precio h3{
  font-size: 40px;
  margin-bottom: 20px;
}

.tabla_precio > p {
  display: block;
  margin-bottom: 20px;
}

.boton_precio{
  display: inline-block;
  width: 150px;
  padding: 12px;
  background: #a5f059;
  text-decoration: none;
  color: #343759;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}

.tabla_precio:hover {
  background: #343759;
  color: var(--blanco);
  transition: 0.2 all;
  transform: scale(1.1);
  cursor: pointer;
}

/*Segunda Tabla*/

.contenedor_comparacion{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tabla_comparacion{
  margin: auto;
  width: min(1250px, 100%);
}

.tabla_comparacion tr{
  border-collapse: collapse;
}

.tabla_comparacion,
.tabla_comparacion tr,
.tabla_comparacion td{
  padding: 2rem;
  border: 1px solid var(--negro);
  border-collapse: collapse;
  text-align: center;
}

.none_tabla{
  border: none;
}

/*Desplazamiento*/

html{
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
  
}


/*BOTON DESPLAZAMIENTO*/

.menu_desplazamiento{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;

  position:fixed;
  right: 10px;
  top: 40%;

}

.menu_desplazamiento li{
  display: inline-block;
  text-align: center;
}

.menu_desplazamiento li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  margin: 5px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}